@model (List<EditUserViewModel>, string)

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="d-flex align-items-center justify-content-end mb-2">
    <input id="searchinput" class="form-control mr-sm-2" style="width: 400px" type="search" placeholder="Search" aria-label="Search" value="@Model.Item2">
    <button id="searchbutton" class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="Search(event)">@Localizer["Search"]</button>
    <button id="clearbutton" class="btn btn-outline-primary my-2 my-sm-0" type="button" onclick="Clear()">@Localizer["Clear"]</button>

    <script>
        function Search(event) {
            document.location.href = "/Admin/Index?" + new URLSearchParams({ "search": document.getElementById("searchinput").value }).toString();
        }

        function Clear(event) {
            document.location.href = "/Admin/Index";
        }
    </script>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">@Localizer["Email"]</th>
            <th scope="col">@Localizer["Blocking"]</th>
            <th scope="col">@Localizer["Admin"]</th>
            <th scope="col">@Localizer["Deleting"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Item1)
        {
            <tr>
                <td>
                    <a href="/User/Index/@user.Id">@user.Email</a>
                </td>
                <td>
                    @if (user.IsBlocked)
                    {
                        <a href="/Admin/Unblock/@user.Id">@Localizer["Unblock"]</a>
                    }
                    else
                    {
                        <a href="/Admin/Block/@user.Id">@Localizer["Block"]</a>
                    }
                </td>
                <td>
                    @if (user.IsAdmin)
                    {
                        <a href="/Admin/RemoveAdmin/@user.Id">@Localizer["Remove"]</a>
                    }
                    else
                    {
                        <a href="/Admin/AddAdmin/@user.Id">@Localizer["Add"]</a>
                    }
                </td>
                <td>
                    <a href="/Admin/Delete/@user.Id">@Localizer["Delete"]</a>
                </td>
            </tr>

        }
    </tbody>
</table>
