@model (List<(FanficModel, List<ChapterModel>)>, string)

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<script>
    function confirmChapterDelete(event) {
        if (confirm("@Localizer["Sure"]")) {
            window.location.href = "/Chapter/Delete/" + "@Model.Item2" + "/" + event.target.dataset.chapter;
        }
    }

    function confirmFanficDelete(event) {
        if (confirm("@Localizer["Sure"]")) {
            window.location.href = "/Fanfic/Delete/" + "@Model.Item2" + "/" + event.target.dataset.fanfic;
        }
    }
</script>

<div class="container-fluid">
    @await Html.PartialAsync("UserMenuLayout")
</div>

<div class="container-fluid">
    <div class="container">
        <h3>@Localizer["Fanfics"]</h3><hr>

        @foreach (var tuple in Model.Item1)
        {
            <div class="mb-3">
                <div class="row mb-2">
                    @*Строка фанфика*@

                    <div class="col-sm">
                        <h6 class="mb-0"><a href="/Fanfic/Index/@tuple.Item1.Id">@tuple.Item1.Name</a></h6>
                    </div>

                    <div class="col-sm d-flex flex-wrap">
                        <a class="px-2" href="/Chapter/Create/@Model.Item2/@tuple.Item1.Id">@Localizer["AddChapter"]</a>
                        <a class="px-2" href="/Fanfic/Order/@Model.Item2/@tuple.Item1.Id">@Localizer["Order"]</a>
                        <a class="px-2" href="/Fanfic/Edit/@Model.Item2/@tuple.Item1.Id">@Localizer["Edit"]</a>
                        <button class="btn btn-danger py-0" onclick="confirmFanficDelete(event)" data-fanfic="@tuple.Item1.Id">@Localizer["Delete"]</button>
                    </div>

                </div>

                <div>
                    @foreach (var c in tuple.Item2)
                    {
                        <div class="row">
                            @*Строки глав*@
                            <div class="col-sm">
                                <a href="/Chapter/Index/@c.Id"><p class="pl-3 mb-0">@c.Name</p></a>
                            </div>
                            <div class="col-sm d-flex flex-wrap align-items-center">
                                <a class="px-2" href="/Chapter/Edit/@Model.Item2/@c.Id">@Localizer["Edit"]</a>

                                @{ 
                                    string imageAction = c.Image == null ? "AddImage" : "RemoveImage";
                                    var imageActionTitle = c.Image == null ? Localizer["AddImage"] : Localizer["RemoveImage"];
                                }
                                <a class="px-2" href="/Chapter/@imageAction/@Model.Item2/@c.Id">@imageActionTitle</a>

                                <button class="btn btn-danger py-0" onclick="confirmChapterDelete(event)" data-chapter="@c.Id">@Localizer["Delete"]</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        <div class="d-flex flex-wrap justify-content-between">
            <a href="/Fanfic/Create/@Model.Item2">@Localizer["NewFanfic"]</a>
        </div>
    </div>
</div>