@model (List<ChapterModel>, List<FanficModel>)

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


<div class="container-fluid mt-2">
    <h4>@Localizer["Top"]</h4>
    <div class="mt-2 mx-md-5 border rounded">
        @foreach (var fanfic in Model.Item2)
        {
            <div class="row">
                <div class="col text-center">
                    <a href="/Fanfic/Index/@fanfic.Id">@fanfic.Name</a>
                </div>
                <div class="col text-center">
                    @Localizer["Rating"]: @fanfic.MarkAverage
                </div>
            </div>
        }
    </div>

    <hr>

    <h4>@Localizer["Last"]</h4>
    <div class="mt-2 mx-md-5 border rounded">
        @foreach (var chapter in Model.Item1)
        {
            <div class="row">
                <div class="col text-center">
                    <a href="/Chapter/Index/@chapter.Id">@chapter.Name</a>
                </div>
                <div class="col text-center">
                    @Localizer["Date"]: @chapter.LastEdit.ToShortDateString()
                </div>
            </div>
        }
    </div>
</div>
